table {
  border-collapse: collapse;
}

table th {
  border: 1px solid #000066;
  background: royalblue;
  color: #ffff;
}

table td {
  border: 1px solid #000066;
  background: #ffffff;
}

td,
th {
  text-align: center;
  width: 220px;
}
